@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

body.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}
